/* BASE STYLES */
:root {
  --clr-dark: #0f172a;
  --clr-light: #f1f5f9;
  --clr-accent: #006666;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  line-height: 1.6;
  word-spacing: 1.4px;
  font-family: sans-serif;
  color: var(--clr-dark);
  background-color: var(--clr-light);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  width: 80%;
  height: 700px;
  margin: 0 auto;
  border: 10px solid var(--clr-dark);
}

.item {
  width: 150px;
  height: 150px;
  background-color: #b2d8d8;
  padding: 1em;
  font-weight: 700;
  color: var(--clr-dark);
  text-align: center;
  border: 10px solid var(--clr-accent);
  border-radius: 10px;
}
/* END OF BASE STYLES */

/* 1. Flex container */

/* 2. Flex item */

.container {
  /* Learning Point 1 */
  /* with flex we created an invisble main axis (across the screen left to right or horizontal) */
  /* we can use flex-direction: column; to switch the main axis to vertical or top to bottom  */
  /* this is the key to understanding flexbox  */

  display: flex;

  /* flex-direction: column; */

  /* justify-content is for aligning the element on the main axis  (horizontal by default) */
  /* justify-content: space-evenly; */

  /* try */
  /* flex-start, flex-end, center,space-between,space-around, space-evenly */

  /* align-items is for aligning the element on the cross axis (vertical when main axis is horizontal) */
  /* try */
  /* flex-start, flex-end, center,baseline */
  align-items: flex-start;

  /* by default, flex item will always try to fit in one line  */
  /* when there are more and more, the items will start crushing each other  */
  /* we can use flex-wrap: wrap; to allow items to take on a new line */

  flex-wrap: wrap;

  /* when we have flex-wrap: wrap; a new property is unlock, the align-content property */
  /* Properties value is more or less the same as justify-content */
  /* align-content: center; */

  /* gap: 1rem; */

  /* overflow-y: scroll; */
}

.item-1 {
  font-size: 1.5rem;
}

.item-2 {
  font-size: 1.5rem;
}

/* Learning Point 2 */
/* flex-grow */
/* flex-shrink */

.item-3 {
  font-size: 1.5rem;
  /* flex-grow: 1; */
  /* flex-shrink: 5; */
  /* flex-basis: 300px; */
  /* flex combines all 3 but the last 2 are optional and will adjust responsively by default */
  /* flex: 1; */
  /* try */
  /* flex-start, flex-end, center,baseline */
  /* align-self: baseline; */
  /* order: -1; */
}
